/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* COMMON */
html{
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}

.flex{
    display: flex;
}

/* MAIN */
main{
    height: calc(100vh - 100px);
    background-color: #141922;
    flex-direction: row;
    overflow-y: auto;
}

/* MAIN */ /* UPGRADE BAR FIXED */
div.main-upgrade{
    width: calc(100% - 200px);
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

div.main-upgrade a{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 1rem 3rem;
    margin-right: 1.5rem;
}

div.main-upgrade a:hover{
    transform: scale(1.1);
}

/* MAIN */ /* VERTICAL NAV BAR */
div.sidebar-nav{
    width: 200px;
    background-color: #000000;
    padding: 2rem 0 1rem 2rem;
}

a.spotify-logo img{
    width: 70%;
    margin-bottom: 3rem;
}

/* MAIN */ /* PLAYLIST SECTION */
div.main-playlists{
    width: calc(100% - 200px);
}

img.sidebar-img{
    width:15%;
    filter: invert(67%) sepia(0%) saturate(2274%) hue-rotate(22deg) brightness(103%) contrast(75%);
}

span.sidebar-text{
    color: #a3a3a3;
    font-size: 1.3rem;
    font-weight: 600;
}

span.sidebar-list-title{
    text-transform: uppercase;
}

a.sidebar-icon > i{
    color: #a3a3a3;
    font-size: 3rem;
    margin-right: .5rem;
}


/* FOOTER */
footer{
    width: 100%;
    height:100px;
    background-color: #282828;
}