/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}

.flex{
    display: flex;
}

/* MAIN */
main{
    height: calc(100vh - 100px);
    background-color: #141922;
    flex-direction: row;
    overflow-y: auto;
}

/* MAIN */ /* UPGRADE BAR FIXED */
div.main-upgrade{
    width: 86%;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

div.main-upgrade a{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 1rem 3rem;
    margin-right: 1.5rem;
}

div.main-upgrade a:hover{
    transform: scale(1.1);
}

/* MAIN */ /* VERTICAL NAV BAR */
div.main-nav{
    width: 15%;
    background-color: #000000;
    color: white;
}

/* MAIN */ /* PLAYLIST SECTION */
div.main-playlists{
    width: 85%;
}

/* FOOTER */
footer{
    width: 100%;
    height:100px;
    background-color: #282828;
}