:root{
    /* SIZES */
    --cta-bar-height: 100px;
    --sidebar-width: 200px;
    --sidebar-width-xs: 60px;
    --footer-height: 100px;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* COMMON */
html{
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
}

div.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.flex{
    display: flex;
}

.pos-relative{
    position: relative;
}

/* MAIN */
main{
    width: 100%;
    height: calc(100% - var(--footer-height));
    background-color: #141922;
    overflow: hidden;
}

/* MAIN */ /*CTA BAR */
div.cta-bar{
    width: calc(100% - var(--sidebar-width));
    height: var(--cta-bar-height);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

div.cta-bar a{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 1rem 3rem;
    margin-right: 2.5rem;
}

div.cta-bar a:hover{
    transform: scale(1.1);
}

/* MAIN */ /*SIDEBAR NAV */
nav.sidebar-nav{
    float: left;
    width: var(--sidebar-width);
    height: 100%;
    background-color: #000000;
}

/* MAIN */ /*SIDEBAR NAV TOP */
div.sidebar-nav-top{
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 300px;
}

/* MAIN */ /* SIDEBAR NAV TOP */ /* LOGO */
a.spotify-logo img{
    width: 70%;
    padding: 2rem 0 1rem 2rem;
}

span.sidebar-text{
    color: #a3a3a3;
    font-size: 1.3rem;
    font-weight: 600;
}

nav.sidebar-nav li {
    margin-top: 1.5rem;
    padding-left: 2rem;
}

/* MAIN */ /* SIDEBAR NAV TOP */ /* MENU */
img.sidebar-img{
    /* width:15%; */
    width: 30px;
    filter: invert(67%) sepia(0%) saturate(2274%) hue-rotate(22deg) brightness(103%) contrast(75%);
}


/* MAIN */ /* SIDEBAR NAV TOP */ /* PLAYLIST*/
div.sidebar-playlists{
    flex-grow: 1;
    overflow-y: hidden;
}

h3.sidebar-list-title{
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f5f5f5;
    padding-left: 2rem;
    margin-top: 2.5rem;
}

div.sidebar-playlists ul{
    height: 80%;
    overflow-y: auto;
}

a.sidebar-icon > i{
    color: #a3a3a3;
    font-size: 3rem;
    margin-right: .5rem;
}

/* MAIN */ /* SIDEBAR NAV BOTTOM */
div.sidebar-nav-bottom{
    height: 80px;
    padding-left: 2rem;
}

img.download-img{
    width:20px;
    filter: invert(67%) sepia(0%) saturate(2274%) hue-rotate(22deg) brightness(103%) contrast(75%);
}

div.line{
    width: 90%;
    margin: .5rem 0 1rem 0;
    border-bottom: 1px solid #a3a3a3;
}

img.profile-img{
    width:25px;
    height: 25px;
    background-color: #a3a3a3;
    border-radius: 50%;
}

span.profile-name{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

/* MAIN */ /*SIDEBAR NAV */ /* HOVER EFFECTS */
nav.sidebar-nav li:hover span.sidebar-text{
    color: #ffffff;
}

nav.sidebar-nav li:hover a.sidebar-icon > i{
    color: #ffffff;
}

nav.sidebar-nav li:hover img.sidebar-img{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
}

nav.sidebar-nav li:hover{
    border-left: 3px solid #008000;
}

div.sidebar-nav-bottom a:hover span.sidebar-text{
    color: #ffffff;
}

div.sidebar-nav-bottom a:hover img.download-img{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(96%) contrast(107%);
}

/* MAIN */ /*SIDEBAR NAV */ /* MEDIAQUERY */
@media screen and (max-width: 600px){
    nav.sidebar-nav{
        width: var(--sidebar-width-xs);
    }
    a.spotify-logo img{
        display: none;
    }
    div.sidebar-logo{
        background-image: url(../img/logo-small.svg);
        width: 30px;
        height: 30px;
        margin: .5rem 0 0 2rem;
    }
    span.sidebar-text{
        display: none;
    }
    span.profile-name{
        display: none;
    }
    div.sidebar-playlists{
        display: none;
    }
    div.cta-bar{
        width: calc(100% - var(--sidebar-width-xs));
    }
}

/* MAIN */ /*CONTENT SECTION */
section.content{
    float: left;
    height: 100%;
    width: calc(100% - var(--sidebar-width));
    overflow-y: auto;
    padding-top: 120px;
}

/* MAIN */ /* CONTENT NAV */
div.section-nav{
    width: 100%;
    text-align: center;
}

div.section-nav li{
    display: inline-block;
    margin: 0 1rem;
}

div.section-nav a{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    color: #858585;
}

/* MAIN */ /* CONTENT NAV */ /* HOVER EFFECT */
div.section-nav li:hover a{
    color: #ffffff;
}

div.section-nav li:hover{
    border-bottom: 2px solid lime;
}

/* FOOTER */
footer{
    width: 100%;
    height: var(--footer-height);
    background-color: #282828;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.footer-nav-left,
div.footer-nav-right{
    margin: 0 1.5rem 0 1.5rem;
}

/* FOOTER */ /* FOOTER NAV LEFT */ 
div.footer-nav-left{
    flex-direction: row;
    align-items: center;
}

div.footer-nav-img > img{
    height: 50px;
}

div.footer-nav-text{
    margin: 0 3.5rem 0 1.5rem;
}

div.footer-nav-text span{
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5rem;
}

div.footer-nav-text a{
    color: #858585;
    font-weight: bold;
    font-size: 1.2rem;
    display: block;
}

div.footer-nav-text a:hover{
    color: #ffffff;
    text-decoration: underline;
}

div.footer-nav-icons a{
    color: #858585;
    font-size: 1.8rem;
    margin-right: 1.5rem;
}

div.footer-nav-icons a:hover{
    color: #ffffff;
}

/* FOOTER */ /* FOOTER NAV CENTER */ 
div.music-controls-icons{
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

div.music-controls-icons a{
    color: #ffffff;
    font-size: 2rem;
    margin: 0 1rem;
}

div.music-controls-icons a.play{
    font-size: 3.5rem;
    margin: 0 1.8rem;
}

div.music-controls-icons a.play:hover{
    transform: scale(1.1);
}

div.pos-relative{
    display: inline-block;
}

span.time{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
}

span.time-bar-grey{
    width: 35vw;
    border: 4px solid #565656;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2rem;
}

a.time-bar-lightgrey{
    position: absolute;
    left: 0;
    top: 0;
    width: 10vw;
    border: 4px solid #c1c1c1;
    border-radius: 4px;
    display: inline-block;
    margin: 0 2rem;
}

a.time-bar-lightgrey:hover{
    border-color:#00ff00;
}

/* a.dot{
    position: absolute;
    bottom: 0;
    left: 11vw;
    height: 16px;
    width: 16px;
    color: #39c217;
    border-radius: 50%;
    display: none;
} */

/* a.time-bar-lightgrey:hover span.dot{
    display: inline-block;
    z-index: 998;
} */

div.footer-nav-right > a{
    color: #ffffff;
    font-size: 1.5rem;
    margin: 0 1rem;
}

span.volume-bar-grey{
    width: 8vw;
    border: 4px solid #565656;
    border-radius: 4px;
    display: inline-block;
}

a.volume-bar-lightgrey{
    position: absolute;
    left: 0;
    top: 2px;
    width: 3vw;
    border: 4px solid #c1c1c1;
    border-radius: 4px;
    display: inline-block;
}

a.volume-bar-lightgrey:hover{
    border-color:#00ff00;
}